{% extends 'layout.html' %}
{% block content %}
    <h1>Computational Linguistics Lab Alumni</h1>

    <center>
      <table cellpadding=5px>
	<tr valign=bottom></tr>
	<tr height=15px></tr>
	<tr valign=bottom>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	    <a href="https://www.hvl.no/en/employee/?user=3610550">
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/petter.jpg') }}"/>
	      <br>Petter <b>Haugereid</b>
	    </a>
	    </span>
	    <br>Associate Professor
	    <br><a href="https://www.hvl.no/en/about/management/faculty-of-education-arts-and-sports/department-of-language-literature-mathematics-and-interpreting/">Department of Language, Literature,
	    <br/> Mathematics and Interpreting</a>,
	    <br><a href="http://www.hvl.no/">Western Norway University of Applied Sciences</a>
	  </td>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	    <a href="https://github.com/moreymat">
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/mathieu.jpg') }}"/>
	      <br>Mathieu <b>Morey</b>
	    </a>
	    </span>
	    <br>Research & Development
	    <br><a href="https://datactivist.coop/en/">Datactivist</a>
	  </td>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	    <a href="https://fah.um.edu.mo/staff/staff-chinese/shan-wang/">
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/shan.jpg') }}"/>
	      <br><b>Wang</b> Shan
	    </a>
	    </span>
	    <br>王 珊
	    <br>Assistant Professor
	    <br><a href="https://fah.um.edu.mo/chinese/">Department of Chinese Language and Literature</a>,
	    <br><a href="https://www.um.edu.mo/">University of Macau</a>
	  </td>
	</tr>
	<tr valign=bottom>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	    <a href="http://www.nlplab.com/members/wanghuizhen.html">
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/huizhenn.jpg') }}"/>
	      <br><b>Wang</b> Huizhen
	    </a>
	    </span>
	    <br>王 会珍
	    <br>Assistant Lecturer
	    <br><a href="http://www.nlplab.com">Natural Language Processing Lab</a>,
	    <br><a href="http://english.neu.edu.cn/">Northeastern University</a>
	  </td>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/bochen.jpg') }}"/>
	      <br>Bo <b>Chen</b>
	    </a>
	    </span>
	    <br>陈 波
	    <br>
	    <br><a href="http://www.at0086.com/WuhanU/College.aspx?c=1262">School of Computer Science</a>,
	    <br><a href="http://www.at0086.com/WuhanU/index.aspx">Wuhan University</a>
	  </td>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	    <a href="http://corpus.mireene.com/">
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/sanghoun.jpg') }}"/>
	      <br><b>Song</b> Sanghoun
	    </a>
	    </span>
	    <br>宋 相憲
	    <br>Assistant Professor
	    <br><a href="https://kling.korea.edu/">Linguistics</a>,
	    <br><a href="https://korea.edu">Korea University</a>
	  </td>

	</tr>
        <tr valign=bottom>
          <td align='center' valign='top' style="font-size:smaller;">
            <span style="font-size:medium;">
                <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/mindy.jpg') }}"/>
                <br><b>Huang</b> Min
            </span>
            <br>黄 敏
            <br>Lecturer
            <br>College of International Studies,
            <br><a href="http://www.swu.edu.cn/">
Southwest University</a>
          </td>
          <td align='center' valign='top' style="font-size:smaller;">
            <span style="font-size:medium;">
                <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/uma.jpg') }}"/>
                <br>Umamaheswari <b>Vasanthakumar</b>
            </span>
            <br>
            <br>Research Fellow
	    <br>EEE
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
          </td>
	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <!--<a href="http://lang.cs.tut.ac.jp/member/english.html">-->
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/kuririn.jpg') }}"/>
		<br>Takayuki <b>Kuribayashi</b>
	      </a>
	    </span>
	    <br>栗林　孝行
	    <br>Research Associate
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	</tr>
      </table>
    </center>

<h3>Graduates</h3>

   <center>
      <table cellpadding=5px>
	<tr height=15px></tr>
	<tr valign=bottom>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="https://alvations.bitbucket.io/">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/liling.jpg') }}"/>
		<br><b>Tan</b> Liling
	      </a>
	    </span>
	    <br>陈 立凌
	    <br>M.A. (2012)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="http://letuananh.dakside.org/home">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/tuananh.jpg') }}"/>
		<br><b>Lê</b> Tuấn Anh
	      </a>
	    </span>
	    <br>
	    <br>M.Tech. (2013)
	    <br><a href="https://www.iss.nus.edu.sg/">Institute of Systems Science</a>,
	    <br><a href="https://www.nus.edu.sg/">NUS</a>
	  </td>

  	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <!--<a href="http://lang.cs.tut.ac.jp/member/english.html">-->
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/zina-pozen.jpg') }}"/>
		<br>Zinaida <b>Pozen</b>
	      </a>
	    </span>
	    <br>
	    <br>M.S. (2014)
	    <br><a href="https://linguistics.washington.edu/">Linguistics</a>,
	    <br><a href="http://www.washington.edu/">The University of Washington</a>
	  </td>

          </tr>
          <tr>

  	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <!--<a href="http://lang.cs.tut.ac.jp/member/english.html">-->
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/kuririn.jpg') }}"/>
		<br>Takayuki <b>Kuribayashi</b>
	      </a>
	    </span>
	    <br>栗林　孝行
	    <br>M.Eng. (2014)
	    <br><a href="http://www.ee.tut.ac.jp/en">Electrical and Electronic Information Engineering</a>,
	    <br><a href="https://www.tut.ac.jp/english/">Toyohashi University of Technology</a>
	  </td>

           <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="http://www.csse.monash.edu.au/~jwb/">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/staff_JB.jpg') }}"/>
		<br>Jim <b>Breen</b>
	      </a>
	    </span>
	    <br>
	    <br>Ph.D. (2018)
	    <br><a href="http://www.cs.mu.oz.au/research/lt/">Language Technology</a>,
	    <br><a href="http://www.unimelb.edu.au/">The University of Melbourne</a>
	   </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="http://www.goodmami.org/">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/mwg.jpg') }}"/>
		<br>Michael <b>Goodman</b>
	      </a>
	    </span>
	    <br>
	    <br>Ph.D. (2018)
	    <br><a href="https://linguistics.washington.edu/">Linguistics</a>,
	    <br><a href="http://www.washington.edu/">The University of Washington</a>
	  </td>

          </tr>
          <tr>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/elvis.jpg') }}"/>
		<br>Elvis  Albertus <b>Bin Toni</b>
	      </a>
            </span>
            <br/>
	    <br>Ph.D. (2019)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="http://davidmoeljadi.github.io/">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/david.jpg') }}"/>
		<br>David <b>Moeljadi</b>
	      </a>
	    </span>
	    <br>莫 誠福
	    <br>Ph.D. (2019)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

          <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	    <!-- <a href="https://sites.google.com/site/wangshanlanguages/">  -->
	      <img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/giulia.jpg') }}"/>
	      <br>Giulia <b>Bonansinga</b>
	    </a>
	    </span>
	    <br>
	    <br>M.A. (2019)
	    <br><a href="http://infouma.di.unipi.it/magistrale/index.asp">Informatica Umanistica</a>,
	    <br><a href="http://www.unipi.it/">Università di Pisa</a>
	  </td>

          </tr>
          <tr>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="https://www.iss.nus.edu.sg/about-us/staff/detail/278/FAN%20Zhen%20Zhen">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/zhenzhen.jpg') }}"/>
		<br><b>Fan</b> Zhenzhen
	      </a>
	    </span>
	    <br>范 真真
	    <br>Ph.D. (2019)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="http://letuananh.dakside.org/home">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/tuananh.jpg') }}"/>
		<br><b>Lê</b> Tuấn Anh
	      </a>
	    </span>
	    <br>
	    <br>Ph.D. (2019)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="http://compling.hss.ntu.edu.sg/who/hannah" target="_blank">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/hannah.jpg') }}"/>
		<br>Hannah <b>Choi</b> Yun Jung
	      </a>
	    </span>
	    <br>
	    <br>M.A. (2019)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	</tr>
        <tr>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="https://github.com/siewyeng">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/siew_yeng.jpg') }}"/>
		<br><b>Chow</b> Siew Yeng
	      </a>
	    </span>
	    <br>周 韶 盈
	    <br><a href="https://dr.ntu.edu.sg/entities/publication/c0c3c6bd-4bcc-4311-a497-9f9570b34c4c">M.A.</a> (2022)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
	      <a href="https://luismc.com/">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/luis.jpg') }}"/>
		<br>Luís <b>Morgado da Costa</b>
	      </a>
	    </span>
	    <br>
	    <br><a href="https://dr.ntu.edu.sg/entities/publication/4ddd0558-0fa1-46d6-8491-3f6176bc966d">Ph.D.</a> (2022)
	    <br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	    <br><a href="http://www.ntu.edu.sg/">NTU</a>
	  </td>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
		<img hspace=0 vspace=0 align="center" width=90 height=120 src="{{ url_for('static', filename='img/tommaso.jpg') }}"/>
		<br>Tommaso <b>Petrolito</b>
	    </span>
	    <br>
	    <br><a href="https://etd.adm.unipi.it/t/etd-09112021-110903/">M.A.</a> (2021)
	    <br><a href="http://infouma.di.unipi.it/magistrale/index.asp">Informatica Umanistica</a>,
	    <br><a href="http://www.unipi.it/">Università di Pisa</a>
	  </td>

	</tr>
	<tr>

	  <td align='center' valign='top' style="font-size:smaller;">
	    <span style="font-size:medium;">
		<br><b>Yoshioka</b> Haruka
	    </span>
	    <br>
	    <br>M.A. (2023)
	    <br><a href="https://www.euroculturemaster.eu/">Euroculture</a>,
	    <br><a href="https://www.upol.cz/en/">UPOL</a> &amp; <a href="https://www.rug.nl/">Groningen</a>
	  </td>

	</tr>
     </table>
    </center>

<div id="bottom">
<br>Last modified: 2026-02-06
</div>
{% endblock %}
