{% extends 'layout.html' %}
{% block content %}
    <h1>Computational Linguistics Lab Alumni</h1>

    <div class="row justify-content-center text-center">
      <div class="col-6 col-md-3 mb-4">
	<a href="http://www.goodmami.org/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/mwg.jpg') }}" alt="Michael Goodman">
	  <br>Michael <b>Goodman</b>
	</a>
	<br>
	<br><small>Software Engineer
	<br><a href="https://www.xero.com/">Xero</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/kuririn.jpg') }}" alt="Takayuki Kuribayashi">
	<br>Takayuki <b>Kuribayashi</b>
	<br>栗林　孝行
	<br><small>Research Associate
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/uma.jpg') }}" alt="Umamaheswari Vasanthakumar">
	<br>Umamaheswari <b>Vasanthakumar</b>
	<br>
	<br><small>Research Fellow
	<br>EEE
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/mindy.jpg') }}" alt="Huang Min">
	<br><b>Huang</b> Min
	<br>黄 敏
	<br><small>Lecturer
	<br>College of International Studies,
	<br><a href="http://www.swu.edu.cn/">Southwest University</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="http://corpus.mireene.com/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/sanghoun.jpg') }}" alt="Song Sanghoun">
	  <br><b>Song</b> Sanghoun
	</a>
	<br>宋 相憲
	<br><small>Associate Professor
	<br><a href="https://kling.korea.edu/">Linguistics</a>,
	<br><a href="https://korea.edu">Korea University</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/bochen.jpg') }}" alt="Bo Chen">
	<br>Bo <b>Chen</b>
	<br>陈 波
	<br><small>
	<br><a href="http://www.at0086.com/WuhanU/College.aspx?c=1262">School of Computer Science</a>,
	<br><a href="http://www.at0086.com/WuhanU/index.aspx">Wuhan University</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="http://www.nlplab.com/members/wanghuizhen.html">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/huizhenn.jpg') }}" alt="Wang Huizhen">
	  <br><b>Wang</b> Huizhen
	</a>
	<br>王 会珍
	<br><small>Assistant Lecturer
	<br><a href="http://www.nlplab.com">Natural Language Processing Lab</a>,
	<br><a href="http://english.neu.edu.cn/">Northeastern University</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://fah.um.edu.mo/shan-wang/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/shan.jpg') }}" alt="Wang Shan">
	  <br><b>Wang</b> Shan
	</a>
	<br>王 珊
	<br><small>Associate Professor
	<br><a href="https://fah.um.edu.mo/chinese/">Department of Chinese Language and Literature</a>,
	<br><a href="https://www.um.edu.mo/">University of Macau</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://github.com/moreymat">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/mathieu.jpg') }}" alt="Mathieu Morey">
	  <br>Mathieu <b>Morey</b>
	</a>
	<br>
	<br><small>Research &amp; Development
	<br><a href="https://datactivist.coop/en/">Datactivist</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://www.hvl.no/en/employee/?user=3610550">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/petter.jpg') }}" alt="Petter Haugereid">
	  <br>Petter <b>Haugereid</b>
	</a>
	<br>
	<br><small>Associate Professor
	<br><a href="https://www.hvl.no/en/about/management/faculty-of-education-arts-and-sports/department-of-language-literature-mathematics-and-interpreting/">Department of Language, Literature,
	<br>Mathematics and Interpreting</a>,
	<br><a href="http://www.hvl.no/">Western Norway University of Applied Sciences</a></small>
      </div>
    </div>

    <h3>Graduates</h3>

    <div class="row justify-content-center text-center">
      <div class="col-6 col-md-3 mb-4">
	<b>Yoshioka</b> Haruka
	<br>
	<br><small>M.A. (2023)
	<br><a href="https://www.euroculturemaster.eu/">Euroculture</a>,
	<br><a href="https://www.upol.cz/en/">UPOL</a> &amp; <a href="https://www.rug.nl/">Groningen</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://luismc.com/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/luis.jpg') }}" alt="Luís Morgado da Costa">
	  <br>Luís <b>Morgado da Costa</b>
	</a>
	<br>
	<br><small><a href="https://dr.ntu.edu.sg/entities/publication/4ddd0558-0fa1-46d6-8491-3f6176bc966d">Ph.D.</a> (2022)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://github.com/siewyeng">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/siew_yeng.jpg') }}" alt="Chow Siew Yeng">
	  <br><b>Chow</b> Siew Yeng
	</a>
	<br>周 韶 盈
	<br><small><a href="https://dr.ntu.edu.sg/entities/publication/c0c3c6bd-4bcc-4311-a497-9f9570b34c4c">M.A.</a> (2022)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/tommaso.jpg') }}" alt="Tommaso Petrolito">
	<br>Tommaso <b>Petrolito</b>
	<br>
	<br><small><a href="https://etd.adm.unipi.it/t/etd-09112021-110903/">M.A.</a> (2021)
	<br><a href="http://infouma.di.unipi.it/magistrale/index.asp">Informatica Umanistica</a>,
	<br><a href="http://www.unipi.it/">Università di Pisa</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/hannah.jpg') }}" alt="Hannah Choi Yun Jung">
	<br>Hannah <b>Choi</b> Yun Jung
	<br>
	<br><small>M.A. (2019)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://github.com/letuananh">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/tuananh.jpg') }}" alt="Lê Tuấn Anh">
	  <br><b>Lê</b> Tuấn Anh
	</a>
	<br>
	<br><small>Ph.D. (2019)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://www.iss.nus.edu.sg/about-us/staff/detail/278/FAN%20Zhen%20Zhen">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/zhenzhen.jpg') }}" alt="Fan Zhenzhen">
	  <br><b>Fan</b> Zhenzhen
	</a>
	<br>范 真真
	<br><small>Ph.D. (2019)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/giulia.jpg') }}" alt="Giulia Bonansinga">
	<br>Giulia <b>Bonansinga</b>
	<br>
	<br><small>M.A. (2019)
	<br><a href="http://infouma.di.unipi.it/magistrale/index.asp">Informatica Umanistica</a>,
	<br><a href="http://www.unipi.it/">Università di Pisa</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="http://davidmoeljadi.github.io/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/david.jpg') }}" alt="David Moeljadi">
	  <br>David <b>Moeljadi</b>
	</a>
	<br>莫 誠福
	<br><small>Ph.D. (2019)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://scholar.google.co.id/citations?user=vRks1rQAAAAJ">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/elvis.jpg') }}" alt="Elvis Albertus Bin Toni">
	  <br>Elvis Albertus <b>Bin Toni</b>
	</a>
	<br>
	<br><small>Ph.D. (2019)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="http://www.goodmami.org/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/mwg.jpg') }}" alt="Michael Goodman">
	  <br>Michael <b>Goodman</b>
	</a>
	<br>
	<br><small>Ph.D. (2018)
	<br><a href="https://linguistics.washington.edu/">Linguistics</a>,
	<br><a href="http://www.washington.edu/">The University of Washington</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="http://www.edrdg.org/~jwb/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/staff_JB.jpg') }}" alt="Jim Breen">
	  <br>Jim <b>Breen</b>
	</a>
	<br>
	<br><small>Ph.D. (2018)
	<br><a href="http://www.cs.mu.oz.au/research/lt/">Language Technology</a>,
	<br><a href="http://www.unimelb.edu.au/">The University of Melbourne</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/kuririn.jpg') }}" alt="Takayuki Kuribayashi">
	<br>Takayuki <b>Kuribayashi</b>
	<br>栗林　孝行
	<br><small>M.Eng. (2014)
	<br><a href="http://www.ee.tut.ac.jp/en">Electrical and Electronic Information Engineering</a>,
	<br><a href="https://www.tut.ac.jp/english/">Toyohashi University of Technology</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/zina-pozen.jpg') }}" alt="Zinaida Pozen">
	<br>Zinaida <b>Pozen</b>
	<br>
	<br><small>M.S. (2014)
	<br><a href="https://linguistics.washington.edu/">Linguistics</a>,
	<br><a href="http://www.washington.edu/">The University of Washington</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://github.com/letuananh">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/tuananh.jpg') }}" alt="Lê Tuấn Anh">
	  <br><b>Lê</b> Tuấn Anh
	</a>
	<br>
	<br><small>M.Tech. (2013)
	<br><a href="https://www.iss.nus.edu.sg/">Institute of Systems Science</a>,
	<br><a href="https://www.nus.edu.sg/">NUS</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	<a href="https://alvations.bitbucket.io/">
	  <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/liling.jpg') }}" alt="Tan Liling">
	  <br><b>Tan</b> Liling
	</a>
	<br>陈 立凌
	<br><small>M.A. (2012)
	<br><a href="http://www.soh.ntu.edu.sg/Programmes/linguistics/Pages/Home.aspx">Linguistics</a>,
	<br><a href="http://www.ntu.edu.sg/">NTU</a></small>
      </div>
    </div>

<div id="bottom">
<br>Last modified: 2026-02-06
</div>
{% endblock %}
