{% extends 'layout.html' %}

{% block content %}
    <h1>Computational Linguistics Lab Contact</h1>

    <p>This page provides contact information for the
    Computational Linguistics Lab (CL Lab, 凡土研).</p>

    <ul>
      <li>Email: <a href='mailto:bond@ieee.org'>Francis Bond</a>
      <li>GitHub: <a href='https://github.com/bond-lab/'>bond-lab</a>
    </ul>

    <h3>Affiliations</h3>
    <ul>
      <li><a href="https://kas.upol.cz/en/">Department of Asian Studies</a>
	&amp; <a href="https://kol.upol.cz/en/">Department of General Linguistics</a>,
	<a href="https://www.upol.cz/en/">Palacký University Olomouc</a>
      <li><a href="https://www.eduhk.hk/lml/en/">Department of Linguistics and Modern Language Studies</a>,
	<a href="https://www.eduhk.hk/">Education University of Hong Kong</a> (adjunct)
    </ul>

{% endblock %}
