{% extends 'layout.html' %}

{% block content %}
    <h1>CL Lab Links</h1>

    <ul>
      <li><a href='https://japanesenames.upol.cz/'>Japanese Names</a>
    </ul>

    

    <h2>Collaborators outside NTU</h2>
    <ul>
      <li><a href="http://www.delph-in.net">Deep Linguistic Processing
      with HPSG Initiative (DELPH-IN)</a>
      <li><a href='http://globalwordnet.org/'>Global Wordnet
	  Association (GWA)</a>
      <li><a href='http://ucri.nict.go.jp/en/index.html'>Universal Communication Research Institute (was NICT
	Information Analysis Laboratory)</a>
      <li><a href='http://www.kecl.ntt.co.jp/icl/lirg/index.html'>NTT
	  Linguistic Intelligence Research Group</a>
    </ul>

{% endblock %}
