{% extends 'layout.html' %}

{% block content %}
    <h1>CL Lab Links</h1>

    <h2>Natural Language Processing at NTU</h2>
    <ul>
      <li><a href='https://sentic.net/'>Sentic Net (partially at SCE)</a>
      <li><a href='http://blogs.ntu.edu.sg/chriskhoo/nlp/'>NLP at WKWSCI</a>
    </ul>

    <h2>Collaborators outside NTU</h2>
    <ul>
      <li><a href="http://www.delph-in.net">Deep Linguistic Processing
      with HPSG Initiative (DELPH-IN)</a>
      <li><a href='http://globalwordnet.org/'>Global Wordnet
	  Association (GWA)</a>
      <li><a href='http://ucri.nict.go.jp/en/index.html'>Universal Communication Research Institute (was NICT
	Information Analysis Laboratory)</a>
      <li><a href='http://www.kecl.ntt.co.jp/icl/lirg/index.html'>NTT
	  Linguistic Intelligence Research Group</a>
    </ul>

{% endblock %}
