{% extends 'layout.html' %}

{% block content %}
    <h1>Computational Linguistics Lab Members</h1>

    <div class="row justify-content-center text-center">
      <div class="col-6 col-md-3 mb-4">
	    <a href="https://fcbond.github.io/">
	      <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/fcb-s.jpg') }}" alt="Francis Bond">
	      <br>Francis <b>Bond</b>
	    </a>
	    <br><b>凡土</b> フランシス
	    <br><small>Extraordinary Professor
	    <br><a href="https://kas.upol.cz/en/">Department of Asian Studies</a> &amp;
	    <br><a href="https://kol.upol.cz/en/">Department of General Linguistics</a>,
	    <br><a href="https://www.upol.cz/en/">Palacký University Olomouc</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	    <a href="https://kas.upol.cz/nc/en/contacts/visit-card/empid/80081586/">
	      <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/joanna.jpg') }}" alt="Joanna Sio">
	      <br>Joanna Ut-seong <b>Sio</b>
	    </a>
	    <br>蕭月嫦
	    <br><small>Docent
	    <br><a href="https://kas.upol.cz/en/">Department of Asian Studies</a>,
	    <br><a href="https://www.upol.cz/en/">Palacký University Olomouc</a></small>
      </div>

      <div class="col-6 col-md-3 mb-4">
	    <a href="https://kas.upol.cz/nc/en/contacts/visit-card/empid/03320/">
	      <img class="img-fluid" style="width:90px;height:120px" src="{{ url_for('static', filename='img/ivona.jpg') }}" alt="Ivona Barešová">
	      <br>Ivona <b>Barešová</b>
	    </a>
	    <br>
	    <br><small>Docent
	    <br><a href="https://kas.upol.cz/en/">Department of Asian Studies</a>,
	    <br><a href="https://www.upol.cz/en/">Palacký University Olomouc</a></small>
      </div>
    </div>

{% endblock %}
